.jumbotron-img{
 background-image: url('mars_craters.jpg');
 background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
}
.navgrad {
  background-image: linear-gradient(#0591c6, #a7cde2);
}
.jumbograd {
  background-image: linear-gradient(#a7cde2, #fff);
}
.jumbograd2 {
  background-image: linear-gradient(#fff, #0591c6);
}
.navbar-collapse {
  justify-content: flex-end;
}
#myTable { display: none;

}

.marsheader {
    color: #fff;
    background-color: #fff;
    text-emphasis-color: #fff
  }
.img-inline {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #DFD7CA;
  border-radius: 0.25rem;
  margin: 0.2rem;
  }
.fa-globe {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
    background-color: #85dbfc;
    color: #2694bf;
}
@mixin width {
    width: auto !important;
}

table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}
#dtData {font-size: 0.75rem;}
  body {
    margin-top: 50px;
  }
@media (max-width: 576px) {
  .jumbotron {
    margin-top: 4.825rem;
  }
    body {
      margin-top: 20px;
    }
.nav > li.dropdown.open {
    position: static;
}
.nav > li.dropdown.open .dropdown-menu {
    display:table; width: 100%; text-align: center; left:0; right:0;
}
.dropdown-menu>li {
    display: table-cell;
}
