.jumbotron-img{
 background-image: url('mars_craters.jpg');
 background-size: auto;
 background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
}
.jumbotron{
    height: 100vh;
}
h1 {
  color=#c5d8f7;
  text-shadow: 0 0 2px #fff, 0 0 5px #c5d8f7;
}

.img-inline {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #DFD7CA;
  border-radius: 0.25rem;
  margin: 0.2rem;
  }
@mixin width {
    width: auto !important;
}

table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}

@media (max-width: 576px) {
  .jumbotron {
    margin-top: 4.825rem;
  }
    body {
      margin-top: 20px;
    }
