<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mission to Mars! for the Web</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://bootswatch.com/4/spacelab/bootstrap.min.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/spacelab/_variables.scss">
    <link rel="stylesheet" href="static/style.css">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>

<!-- THIS IS THE CONTENT PART -->
<body>
  <div class="jumbotron jumbotron-fluid jumbotron-img justify-content-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="marsheader large d-flex justify-content-center">
          Mission to Mars! </h1>
          <div class="small d-flex justify-content-center">
          <a type="button" class="btn bg-primary" href="http://127.0.0.1:5000/scrape" target="_blank">Scrape New Data</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class='container'>
	<div class='row'>
		<div class='col-md-12'>
      <!-- <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
        </div>
      </div> -->
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <h4 class="d-flex justify-content-left">Latest Mars News
      </h4>

{% for news in news %}
        <p><strong>{{news.headline}}</strong></p>
         <p class='text-primary'>
           {{news.strapline}}
         </p>
         <hr />
            {% endfor %}
      <h4>Featured Mars Image</h4>
      <h6>{{featured.title}}</h6>
      <img src='{{featured.img_url}}' width="500" />
    </div><!-- col -->
<!-- the sidebar -->
    <div class="col-sm-12 col-md-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4>Latest Weather on Mars</h4>
            <hr />
            <ul>
              <li><strong>High Temp</strong>: {{weather.high_temp}}</li>
              <li><strong>Low Temp</strong>: {{weather.low_temp}}
              </li>
              <li><strong>Pressure</strong>:
                {{weather.pressure}}
              </li>
              <li><strong>Daylight</strong>:
                {{weather.daylight}}
              </li>
              <li>
                <strong>Obs. Date</strong>
                {{weather.date}}
              </li>
            </ul>

          </div>
          <div class="row">
          <div class="col-md-12">
            <div class="table-responsive w-100 d-block d-sm-table" id="myTable">{% autoescape false %}
              {{facts.facts_table}}
              {% endautoescape %}
            </div>

          </div>
        </div><!--row-2-->
        </div><!--row1-->
      </div><!--container-->
    </div><!--col-->

    </div>
  </div>
  <!-- footer -->


<nav class="navbar navbar-expand-lg navbar-light">
  <ul class="navbar-nav mr-auto">
    <li class="navbar-nav nav-item active"><a href="https://github.com/lweislo/homework-12" class="nav-link">Project GitHub Page</a>
    </li>
    <li class="navbar-nav nav-item active"><a href="#top" class="nav-link">Back to top</a>
    </li>
  <ul>
  </nav>

</body>

</html>
