<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mission to Mars! for the Web</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/slate/_variables.scss">
  <link rel="stylesheet" href="static/style.css">
  <!-- <link rel="stylesheet" href="static/reset.css"> -->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<a class="navbar-brand" href="https://github.com/lweislo/homework-12">Project GitHub</a>
</nav>
<!-- THIS IS THE CONTENT PART -->
<body>
  <div class="container-full-bg">
    <div class="jumbotron jumbotron-fluid jumbotron-img">
      <div class="container">
          <h1 class="large d-flex justify-content-center legend">
          Mission to Mars! </h1>
        <div class="small d-flex justify-content-center">
          <button type="button" class="btn-primary" href="http://127.0.0.1:5000/scrape" target="_blank"><span class="text-warning">Scrape New Data</span></button>
        </div>
      </div>
    </div>
  </div>
<!-- Main Body Content -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <div class="card">
          <div class="card-body">
        <h4 class='card-title justify-content-center'>Featured Mars Image</h4>
          <img class="card-img-top img-fluid" src='{{featured.img_url}}' alt='{{featured.title}}'/>

            <p class="card-text">{{featured.title}}</p>
            <p class="small text-primary">
              <em>
                <a href="https://www.jpl.nasa.gov/">Courtesy JPL/NASA</a>
              </em>
            </p>
          </div>
        </div>
        <hr />
        <h4 class="d-flex justify-content-left">Latest Mars News
        </h4>
<!-- Inserting News from Mongodb -->
          {% for news in news %}
          <p class="text-warning"><strong>{{news.headline}}</strong></p>
          <p class='text-muted'>
           {{news.strapline}}
          </p>
        <hr />
        {% endfor %}
        <p class="small text-primary"><em>
          <a href="https://mars.nasa.gov/news/">Courtesy NASA</a></em>
        </p>
    </div><!-- col -->
  <!-- the sidebar -->
    <div class="col-sm-12 col-md-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4>Latest Weather on Mars</h4>
            <hr />
            <ul>
              <li><strong>High Temp</strong>: {{weather.high_temp}}</li>
              <li><strong>Low Temp</strong>: {{weather.low_temp}}
              </li>
              <li><strong>Pressure</strong>:
                {{weather.pressure}}
              </li>
              <li><strong>Daylight</strong>:
                {{weather.daylight}}
              </li>
              <li>
                <strong>Obs. Date</strong>
                {{weather.date}}
              </li>
            </ul>
          <p class="small text-primary"><img class="img_fluid" height='20rem' src="/static/Twitter_Logo_Blue.png" alt='Twitter'/>
            <em><a href="https://twitter.com/marswxreport?lang=en">Courtesy MarsWXReport</a></em>
          </p>
        </div>
        </div><!--row1 Weather -->
        <div class="row">
          <div class="col-md-12">
            <h4>Mars Facts</h4>
            <div class="table-responsive w-100 d-block d-sm-table" id="myTable">{% autoescape false %}
              {{facts.facts_table}}
              {% endautoescape %}
            </div>
            <p class="small text-primary">
              <em><a href="http://space-facts.com/mars/">Courtesy Space-Facts</a></em>
            </p>
          </div>
        </div><!--row-2 Facts -->
        <div class="row">
          <div class="col-md-12">
            <hr />
            <h6>Mars Hemisphere Images</h6>
            <hr />
          </div>
        </div>
        <div class="row">

          {% for item in hemispheres %}
          <div class="col-md-6 card">
            <a href="{{item.img_url}}">
              <img  class="card-img-top img-fluid img-thumbnail" src="{{item.img_url}}" alt='{{item.title}}'/></a>
              <div class="card-body">
                <p class="card-text small justify-content-left">
                  {{item.title}}
                </p>
              </div>
          </div>
          {% endfor %}
          <p class="small text-primary">
            <em><a href="https://astrogeology.usgs.gov/">Courtesy USGS</a></em>
          </p>
        </div><!--row inner-->
    </div><!--col right-->

  </div><!--col left-->
  </div><!--container left-->
  <!-- footer -->


<!-- <nav class="navbar navbar-expand-lg navbar-light">
  <ul class="navbar-nav mr-auto">
    <li class="navbar-nav nav-item active"><a href="https://github.com/lweislo/homework-12" class="nav-link">Project GitHub Page</a>
    </li>
    <li class="navbar-nav nav-item active"><a href="#top" class="nav-link">Back to top</a>
    </li>
  <ul>
  </nav> -->

</body>

</html>
